{
  "jsc": {
    "preserveAllComments": true,
    "parser": {
      "syntax": "typescript",
      "tsx": false,
      "decorators": true
    },
    "transform": {
      "legacyDecorator": true,
      "decoratorMetadata": true
    },
    "target": "es2022"
  },
  "module": {
    "type": "es6"
  },
  "sourceMaps": true,
  "exclude": ["dist", "__tests__", "test", "e2e"]
}
